@use '../../global/styles.scss';
@use "sass:map";


.home{
  display: flex;

  .home__container{
    flex: 6;

    .widgets{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: map.get(styles.$spacings, "padding");
      align-items: center;
      padding: map.get(styles.$spacings, "padding");
    }
  }
}